.card-product {
  align-items: flex-start;
  max-height: 210px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  margin: 20px auto;
  width: 1000px;
  overflow: hidden;
  padding: 0;
}

.card-product.expanded {
  max-height: none;
}

.card-product img {
  height: 210px;
  width: 120px;
  object-fit: cover;
}

.card-product h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-product h3 {
  font-size: 13px;
  font-weight: bold;
}

.card-product p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
  cursor: pointer;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.card-product.expanded p {
  height: auto;
  overflow: visible;
  text-overflow: clip;
  white-space: normal;
}

.card-product .card-product-infos {
  padding: 16px;
  overflow: auto;
}
